# Ignore uploads folder and its contents
uploads/
uploads/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
temp/config.py
uploads/sapheb-b87c6918d4ef.json
